//local variables
$x-color-dark-shade: #1f2041;
$x-color-purple: #bc9cff;
$x-color-green: #6fcf97;

//global variables

$palette-primary: $x-color-purple;
$palette-secondary: $x-color-dark-shade;
$palette-tertiary: $x-color-green;
