@import "../../assets/styles/variables/variables";

.field-control {
  &__label {
    display: block;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 8px;
    line-height: 8px;
  }

  & input[type="text"] {
    display: block;
    width: 100%;
    border: 1px solid rgba($palette-secondary, 0.25);
    border-radius: 4px;
    padding: 12px 14px;
    font-size: 14px;
    color: rgba($palette-secondary, 0.75);
    &:hover {
      border: 1px solid rgba($palette-secondary, 0.5);
    }
    &:focus {
      border: 1px solid rgba($palette-secondary, 0.5);
      outline: none;
    }
    &::placeholder {
      color: rgba($palette-secondary, 0.25);
      font-size: 14px;
      line-height: 18px;
    }
  }
}
