mixin color(nameColor, codeColor)
  div(class="color")
    div(class="color__color-view-block")
    div(class="color__color-description")
      p(class="color__name-color")=nameColor
      p(class="color__code-color")=codeColor