.colors-and-type {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: 0 auto;
  padding-top: 2.0625rem;

  @media (max-width: 1024px) {
    padding: 2.0625rem 1.875rem 0 1.875rem;
  }

  @media (max-width: 780px) {
    justify-content: center;
  }

  &__colors-container {
    padding-left: 9.375rem;

    @media (max-width: 1024px) {
      padding: 0;
    }

    & .color {
      margin-bottom: 1.25rem;
    }
  }

  &__types-container {
    padding-right: 9.875rem;
    @media (max-width: 1024px) {
      padding: 0;
    }

    @media (max-width: 780px) {
      margin-top: 5rem;
    }

    & .type {
      margin-bottom: 3.125rem;
    }
  }

  &__section {
    &-colors {
      display: flex;
      flex-direction: column;
    }

    &-types {
      display: flex;
      justify-content: flex-end;
    }
  }
}
