include ./components/head/head.pug
<!DOCTYPE html>
html(lang="ru")
  head
  +head('Отель Toxin')
  body
  img(src="./images/logo.svg")
  a(href="/pages/ui-kit/colors-and-type.html") link
    include ./components/colors-and-type/color/color.pug