include ./components/head/head.pug
<!DOCTYPE html>
html(lang="ru")
  +head('Отель Toxin')
  body
  img(src="./images/logo.svg")
  a(href="/colors-and-type.html") Привет Lol
    include ./components/color/color.pug